include color.conf

font_family maplenerdmono
bold_font Maple Mono
font_size 11.0
font_features maplenerdmono +cv01 +cv03 +cv04 +ss01 +ss02 +ss03 +ss04
font_features MapleMono-Bold +cv01 +cv03 +cv04 +ss01 +ss02 +ss03 +ss04
window_padding_width 30

tab_bar_style separator
tab_separator " "
tab_title_template {title}
active_tab_foreground {{foreground}}
active_tab_background {{color[7]}}
inactive_tab_foreground {{color[7]}}
inactive_tab_background {{background}}

dynamic_background_opacity yes
allow_remote_control yes

cursor none